<h1>DI(依赖注入) Cookbook</h1>
<div class="di-component">
    <h3>Logged in user</h3>
    <div>Name: {{userContext.name}}</div>
    <div>Role: {{userContext.role}}</div>
</div>

<div class="di-component">
    <h1>HeroBase</h1>
    <app-hero-base></app-hero-base>
</div>

<div class="di-component">
    <h1>Hero Bios</h1>
    <app-hero-bios></app-hero-bios>
</div>
<div class="di-component" appHighlight>
    <h1>Hero Bios Contact</h1>
    <div appHighlight='yellow'>
        <app-hero-bios-and-contacts></app-hero-bios-and-contacts>
    </div>
</div>

<div class="di-component">
    <app-storage></app-storage>
</div>

<div class="di-component">
    <app-parent-finder></app-parent-finder>
</div>