<h1>Angular Router</h1>
<nav>
    <a [routerLink]="[ '/crisis-center' ]" routerLinkActive="active">应急中心</a>
    <a [routerLink]="[ '/superheroes' ]" routerLinkActive="active">英雄列表</a>
    <a [routerLink]="[ '/admin' ]" routerLinkActive="active">Admin</a>
    <a [routerLink]="[ '/login' ]" routerLinkActive="active">Login</a>
    <a [routerLink]="[ { outlets: { popup: [ 'compose' ] } } ]">联系</a>
</nav>

<div [@routeAnimation]="getAnimationData(routerOutlet)">
    <router-outlet #routerOutlet="outlet"></router-outlet>
</div>

<router-outlet name="popup"></router-outlet>

