<label>
    <input
        type="checkbox"
        [checked]="showHeroes"
        (change)="showHeroes = !showHeroes"
    />Heroes
</label>
<label>
    <input
        type="checkbox"
        [checked]="showVillains"
        (change)="showVillains = !showVillains"
    />Villains
</label>
<label>
    <input
        type="checkbox"
        [checked]="showCars"
        (change)="showCars = !showCars"
    />Cars
</label>

<app-villains *ngIf="showVillains"></app-villains>
<app-heroes-list *ngIf="showHeroes"></app-heroes-list>
<app-car *ngIf="showCars"></app-car>
