<h3>从 JSON 文件中获取配置</h3>
<div>
    <button (click)="clear(); showConfig()">Get</button>
    <button (click)="clear(); showConfigResponse()">GetResponse</button>
    <button (click)="clear();">Clear</button>
    <span *ngIf="config">
        <p>英雄 API 地址是："{{ config.heroesUrl }}"</p>
        <p>Textfile 地址是："{{ config.textfile }}"</p>
        <div *ngIf="headers">
            响应头：
            <ul>
                <li *ngFor="let header of headers">{{ header }}</li>
            </ul>
        </div>
    </span>
</div>
<p *ngIf="error" class="error">{{ error | json }}</p>
